<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    
  <style>
  body {
  	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  	color: #404040;
  }
  .container {
  	margin: 80px auto;
  	width: 640px;
  }
  
  </style> 
  </head>
  <body>
  	<div class = "container">
  		<div class = "fail">
  			<h1>Sign in failed...</h1>
  			<h5>Oops! Something wrong with your Email address or password.</h5>
  			<br>
  			<h5>Please sign in again.</h5>
  		</div>
  		<form method = "get" action = "/signIn">
  		<p><input class = "signInAgain" type = "submit" name = "signInAgain" value = "Sign In"/>
  		</p>
  		</form>
  	
  	
  	</div>
  </body>
</html>